*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #333;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;

}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
    font-size: 25px;
}
.navbar ul li a{
    text-decoration:solid;
    color:white;
    padding:8px 25px ;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: black;
    color:white;
}
.inner{
    padding-top: 20px;
}
.header{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
}
.header:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: #2ecc71;
}
.continer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}
.skill-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}
.skills-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.img{
    width:90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-icon h3{
    color: #fff;
    margin: 0.5rem;
}
.skill-icon{
    width: 50px;
}
